@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles to ensure proper rendering */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Optional: Dark mode setup */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Ensure body takes up full height and applies background */
body {
  min-height: 100vh;
}